body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}

/* Form */
.bg-form {
  padding: 30px 0px;
  border: solid 2px #00ccff;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #b7e7f370;
}

.bg-form-expense {
  background-color: #f5adad70;
  border-color: #f70000;
}

.bg-form-income {
  background-color: #b1f1cb70;
  border-color: #00f721;
}

.bg-form-transfer {
  background-color: #c27efd70;
  border-color: #ce00f7;
}

.click-text:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  transform: scale(1.03);
  z-index: 1;
}

.click-icon:hover {
  transform: scale(1.4);
  transition: transform 0.2s;
}

/* Loader */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 124px;
  height: 24px;
  -webkit-mask: conic-gradient(
        from 135deg at top,
        #0000,
        #000 0.5deg 90deg,
        #0000 90.5deg
      )
      0 0,
    conic-gradient(
        from -45deg at bottom,
        #0000,
        #000 0.5deg 90deg,
        #0000 90.5deg
      )
      0 100%;
  -webkit-mask-size: 25% 50%;
  -webkit-mask-repeat: repeat-x;
  background: linear-gradient(#133cdf 0 0) left/0% 100% no-repeat #ddd;
  animation: l13 2s infinite linear;
}
@keyframes l13 {
  100% {
    background-size: 100% 100%;
  }
}

/* HTML: <div class="loader"></div> */
.saveData {
  display: inline-block;
  width: 20px;
  vertical-align: middle;

  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #f70000 100%, #0000);
  background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 0.5s infinite;
}
@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
